* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@media (min-width: 0px) {
  .box-img-part-left-section4 {
    width: 50%;
  }
  .img-part-left-section4 {
    width: 100px;
    height: 100px;
  }
  .icon-box-section3 {
    font-size: 25px;
    width: 40px;
    height: 40px;
  }
  .box-right-section5 {
    margin-top: 50px;
  }
}
@media (min-width: 576px) {
  .part-right-section1 {
    width: 100%;
    margin-top: 50px;
  }
  .part-left-section1 {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .part-left-box-section3, .section3 .box-section3 .part-right-box-section3 {
    width: 100%;
  }
  .part-right-box-section3 {
    width: 100%;
  }
  .box-img-part-left-section4 {
    width: 50%;
  }
  .img-part-left-section4 {
    width: 150px;
    height: 150px;
  }
  .part-left-section4 {
    width: 100%;
  }
  .icon-box-section3 {
    font-size: 45px;
    width: 70px;
    height: 70px;
  }
  .box-left-section5, .section5 .box-top-section5 .box-right-section5, .section5 .box-bottom-section5 .box-right-section5 {
    width: 100%;
  }
  .box-right-section5 {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .part-right-section1 {
    width: 50%;
  }
  .part-left-section1 {
    width: 50%;
  }
  .part-left-box-section3, .section3 .box-section3 .part-right-box-section3 {
    width: 48%;
  }
  .part-right-box-section3 {
    width: 48%;
  }
  .box-img-part-left-section4 {
    width: 50%;
  }
  .img-part-left-section4 {
    width: 150px;
    height: 150px;
  }
  .part-left-section4 {
    width: 100%;
  }
  .part-right-section4 {
    width: 100%;
  }
  .box-left-section5, .section5 .box-top-section5 .box-right-section5, .section5 .box-bottom-section5 .box-right-section5 {
    width: 50%;
  }
  .box-right-section5 {
    margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .box-img-part-left-section4 {
    width: 50%;
  }
  .img-part-left-section4 {
    width: 200px;
    height: 200px;
  }
  .part-right-section4 {
    width: 50%;
  }
  .part-left-section4 {
    width: 50%;
  }
}
.menu {
  text-align: center;
  background-color: #04364A;
}
.menu span {
  font-size: 30px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
}

.menuRes {
  position: absolute;
  width: 300px;
  height: 100vh;
  background-color: #04364A;
  left: -100%;
  transition: 0.4s;
  z-index: 465465;
}
.menuRes .icon-close-menuRes {
  color: white;
  position: relative;
  left: 100%;
  transform: translateX(-200%);
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}
.menuRes .box-menuRes {
  text-align: center;
}
.menuRes .box-menuRes .link-menuRes {
  text-decoration: none;
  display: block;
  color: white;
  transition: 0.4s;
  font-size: 20px;
  margin-top: 10px;
}
.menuRes .box-menuRes .link-menuRes:hover {
  color: rgba(255, 255, 255, 0.541);
}

.bg-dark {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.726);
  display: none;
}

.section1 {
  display: flex;
  margin-top: 20px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}
.section1 .part-right-section1 {
  padding-left: 10%;
}
.section1 .part-right-section1 .title1-part-right-section1, .section1 .part-right-section1 .title2-part-right-section1 {
  font-size: 45px;
  font-weight: 900;
}
.section1 .part-right-section1 .title2-part-right-section1 {
  color: #FF6AC2;
}
.section1 .part-right-section1 .text-part-right-section1 {
  width: 80%;
  font-weight: 300;
  margin-top: 10px;
}
.section1 .part-right-section1 .btn-part-right-section1 {
  background-color: #FF6AC2;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  margin-top: 20px;
}
.section1 .part-right-section1 .btn-part-right-section1:hover {
  background-color: #F1B4BB;
}
.section1 .part-left-section1 .img-part-left-section1 {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2 {
  background-color: #04364A;
  width: 100%;
  padding-top: 10px;
  padding-left: 100px;
  padding-bottom: 20px;
}
.section2 .title-section2 {
  font-size: 45px;
  color: white;
  font-weight: 900;
  margin-top: 10px;
}
.section2 .text-section2 {
  color: white;
  width: 60%;
  margin-top: 10px;
}
.section2 .btn-section2 {
  background-color: #FF6AC2;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  border: none;
}
.section2 .btn-section2:hover {
  background-color: #F1B4BB;
}

.section3 {
  background-color: #FFE5D9;
  width: 100%;
  padding-bottom: 50px;
}
.section3 .box-section3 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  flex-wrap: wrap;
}
.section3 .box-section3 .part-left-box-section3, .section3 .box-section3 .part-right-box-section3 {
  background-color: white;
  padding: 10px;
  display: flex;
  padding-bottom: 50px;
}
.section3 .box-section3 .part-left-box-section3 .icon-section3, .section3 .box-section3 .part-right-box-section3 .icon-section3 {
  width: 20%;
  margin: 10px;
}
.section3 .box-section3 .part-left-box-section3 .icon-section3 .icon-box-section3, .section3 .box-section3 .part-right-box-section3 .icon-section3 .icon-box-section3 {
  background-color: #FF6AC2;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 .box-section3 .part-left-box-section3 .description-box-section3 .title-box-section3, .section3 .box-section3 .part-right-box-section3 .description-box-section3 .title-box-section3 {
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
}
.section3 .box-section3 .part-left-box-section3 .description-box-section3 .text-box-section3, .section3 .box-section3 .part-right-box-section3 .description-box-section3 .text-box-section3 {
  padding: 10px;
  width: 80%;
}
.section4 {
  display: flex;
  flex-wrap: wrap;
}
.section4 .part-left-section4 {
  display: flex;
  flex-wrap: wrap;
}
.section4 .part-left-section4 .box-img-part-left-section4 {
  text-align: center;
  padding-top: 30px;
}
.section4 .part-left-section4 .box-img-part-left-section4 .img-part-left-section4 {
  border-radius: 50%;
}
.section4 .part-right-section4 {
  padding: 30px;
}
.section4 .part-right-section4 .title-part-right-section4 {
  font-size: 50px;
  font-weight: 900;
  width: 70%;
}
.section4 .part-right-section4 .text-part-right-section4 {
  width: 80%;
  margin-top: 10px;
  font-size: 20px;
}
.section4 .part-right-section4 .btn-part-right-section4 {
  padding: 10px;
  background-color: #FF6AC2;
  border: none;
  border-radius: 5px;
  transition: 0.4s;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.section4 .part-right-section4 .btn-part-right-section4:hover {
  background-color: #F1B4BB;
}

.distance {
  width: 100%;
  height: 200px;
  background-color: #FF6AC2;
}

.section5 {
  width: 80%;
  margin: auto;
  margin-top: -80px;
}
.section5 .box-top-section5, .section5 .box-bottom-section5 {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}
.section5 .box-top-section5 .box-left-section5 .img-box-left-section5, .section5 .box-bottom-section5 .box-left-section5 .img-box-left-section5, .section5 .box-top-section5 .box-right-section5 .img-box-left-section5, .section5 .box-bottom-section5 .box-right-section5 .img-box-left-section5 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 50px;
  margin-top: -50px;
}
.section5 .box-top-section5 .box-left-section5 .text-box-left-section5, .section5 .box-bottom-section5 .box-left-section5 .text-box-left-section5, .section5 .box-top-section5 .box-right-section5 .text-box-left-section5, .section5 .box-bottom-section5 .box-right-section5 .text-box-left-section5 {
  width: 80%;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 25px;
  font-weight: 400;
}
.section5 .box-top-section5 .box-left-section5 .icon-box-left-section5, .section5 .box-bottom-section5 .box-left-section5 .icon-box-left-section5, .section5 .box-top-section5 .box-right-section5 .icon-box-left-section5, .section5 .box-bottom-section5 .box-right-section5 .icon-box-left-section5 {
  margin-left: 50px;
  font-size: 65px;
  padding: 10px;
  color: white;
  border-radius: 50%;
  margin-top: 20px;
  background-color: #B931FC;
}
.section5 .box-bottom-section5 {
  margin-top: 100px;
}

.section6 {
  background-color: #FFE5D9;
  padding: 50px 0;
  margin-top: 20px;
}
.section6 .title-section6 {
  font-size: 45px;
  font-weight: 700;
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}
.section6 .title-section6 .part2-title-section6 {
  color: #FF6AC2;
}
.section6 .text-input-name-section6, .section6 .text-input-email-section6, .section6 .text-textarea-section6 {
  width: 80%;
  margin: auto;
}
.section6 .box-input-name-section6, .section6 .box-input-email-section6 {
  text-align: center;
}
.section6 .box-input-name-section6 .input-name-section6, .section6 .box-input-email-section6 .input-name-section6 {
  width: 80%;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
}
.section6 .text-input-email-section6, .section6 .text-textarea-section6 {
  margin-top: 20px;
}
.section6 .box-input-email-section6 .input-email-section6 {
  width: 80%;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
}
.section6 .box-textarea-section6 {
  text-align: center;
}
.section6 .box-textarea-section6 .textarea-section6 {
  width: 80%;
  height: 200px;
  padding-left: 50px;
  padding-top: 10px;
  font-size: 25px;
  outline: none;
}
.section6 .btn-section6 {
  margin-left: 10%;
  padding: 10px 20px;
  border: none;
  background-color: #F1B4BB;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  color: white;
}
.section6 .btn-section6:hover {
  background-color: #FF6AC2;
}

footer {
  background-color: #00171F;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .text-footer {
  color: white;
  text-align: center;
}/*# sourceMappingURL=style.css.map */